/* *{
    border: 0.5px solid black;
} */
body{
    background-image: url('../images/clg_img.jpg');
    padding-left: 8vw;
    padding-right: 8vw;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
}
#grid-container{

    
    height: 5.5vh;
    display: grid;
    grid-template-rows:90vh 75vh 70vh 80vh 80vh 70vh 90vh 16vh ;
    
}

#child1{
   
    
    background-image: url('../images/1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:10px;
    
    
    
}
#child1-1{
    display: flex;
    justify-content: space-between;
}
#child1-2{
    padding-top:12vw;
    display: grid;
   justify-content: center;
   align-content: center;
   color: rgb(175, 158, 158);

   
  
}
#child1-2 hr{
    width: 210px;
    color: rgb(92, 84, 84);
    margin: -10;
    
}



#child2{
    display: grid;
    background-image: url('../images/2.png');
    justify-content: center;
    grid-template-columns: 45% 55%;
    

}

#child2-1{
    /* padding-left: 12%; */
    display: grid;
    align-content: center;
    justify-content: center;
    background-position: 10%;

}
#child2-2{
    display: grid;
    align-content: center;
    justify-content: center;
    
    

}
#hire-me-button{
    
    background-image: url('../images/22.png');
  
    width: fit-content;
    height: auto;
    
}
#prof{
height: auto;
width: 20vw;
}

#child3{
    background-image: url('../images/3.png');

}
#child3 h5{
    padding-left: 50px;
    font-family: 'Quintessential', cursive;
    margin-top: -10px;
    text-align: center;
}
#child3 h3{
    padding-left: 50px;
    font-family: 'Quintessential', cursive;
    margin-bottom: 10px;
    text-align: center;
}
#child3 h2{
    padding-left: 50px;
    font-family: 'Quintessential', cursive;
    margin-bottom: 10px;
    text-align: center;
}
#child3 p{
    padding-left: 50px;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: small;
    margin-bottom: -10px;
    margin-top: -10px;
    text-align: center;
}




#child4{
    background-image: url('../images/4.png');

}

#child4-1{
    display: flex;
    
    
    justify-content: center;
    align-content: center;
    align-items: center;
    


}
.proj{
    margin-top: 70px;
}
.proj img{
    height: 160px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    border-radius: 10px;
    
    
  
}
#child5{
    padding-left:7vw;
    padding-right:7vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: grid;
    background-image: url('../images/7.png');
    grid-template-areas: 
    'Work_exp edu'
    'Work_exp edu'
    'Work_exp edu';
    grid-row-gap: 2vh ;
    grid-column-gap: 2vh ;
    grid-template-columns: 50% 50%;

}
#child5-1{
    grid-area: Work_exp;
    background-image: url('../images/71.png');
    padding: 10px;

}
#child5-2{
    grid-area: edu;
    background-image: url('../images/71.png');
    padding: 10px;
}

#child6{
    background-image: url('../images/6.png');

}

#child7{
    background-image: url('../images/7.png');
    padding-left:7vw;
    padding-right:7vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: grid;
    grid-template-areas: 
    'message address'
    'message phone'
    'message web';
    grid-row-gap: 2vh ;
    grid-column-gap: 2vh ;
    grid-template-columns: 50% 50%;

}

#child7-1{
    display: grid;
    grid-area: message;
    background-image: url('../images/71.png');
    padding: 10px;
}
#child7-2{
    grid-area: address;
    background-image: url('../images/72.png');
}
#child7-3{
    grid-area: phone;
    background-image: url('../images/73.png');
}
#child7-4{
    grid-area: web;
    background-image: url('../images/74.png');
}

#child8{
    background-image: url('../images/8.png');
  


}




@keyframes smothing {
    0% {
        opacity: 0;

    }


    100% {
        opacity: 0.9;
    }
}

.anim{
    opacity: 1;
    animation-name: smothing;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: ease;
    opacity: 0.9;

}

.social-site{
    height: 40px;
    width: 40px;
}


.inp-box{
    padding: 10px;
    display: block;
    margin: 10px;
    background-color: initial;
    border: 1px solid rgb(153, 146, 146) ;
    color: bisque;
    border-radius: 8px;
}
#child7 h3{
    font-family: 'Quintessential', cursive;
    color: rgb(189, 194, 194);
    font-size: medium;
    
}
#child7 p{
    font-family: 'Roboto', sans-serif;
    font-size: small;
    margin-left: 10px;
    color:rgb(176, 180, 180) ;

}

#child5 h3{
    font-family: 'Quintessential', cursive;
    color: rgb(189, 194, 194);
    
    
}
#child5 h4{
    font-family: 'Quintessential', cursive;
    color: rgb(189, 194, 194);
    
    
}
#child5 h5{
    font-family: 'Quintessential', cursive;
    color: rgb(189, 194, 194);
    padding-left: 10px;
    
}
#child5 p{
    font-family: 'Roboto', sans-serif;
    font-size: small;
    margin-left: 10px;
    color:rgb(176, 180, 180) ;

}